.tIn {
    animation: inOut 2.8s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes inOut {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateY(0); /* delay section */
    }
    100% {
        opacity: 0;
        transform: translateY(-70px);
    }
}
